<% provide(:title, 'File Center') %>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h1><%= yield(:title) %></h1>
    <p>Find me in app/views/static_pages/about.html.erb</p>
  </div>
</div>
