<% provide(:title, 'All users') %>
<h1>All users</h1>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <%= will_paginate %>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <th>User</th>
          <th>Email</th>
          <th>Logins</th>
          <th>Last Activity</th>
          <th>Role</th>
          <th>Action</th>
        </thead>
        <% @users.each do |user| %>
          <tr>
            <%= render user %>
          </tr>
        <% end %>
      </table>
    </div>
    <%= will_paginate %>
  </div>
</div>